#flash,
#featured-1,
#featured-2,
#featured-3,
#main,
#sidebar,
#triptych-1,
#triptych-2,
#triptych-3,
#footer-col-1,
#footer-col-2,
#footer-col-3,
#footer-col-4 {
	background-color: #f0f0f0;
}
.fa-google-plus-square:hover {
    color: #F90101;
}
.fa-facebook-square:hover{
	color: #3B5999;
}
.fa-twitter-square:hover{
	color: #4099FF;
}
.fa-thumbs-o-down:hover{
	color: #3B5999;
}
.fa-thumbs-o-up:hover{
	color: #3B5999;
}
#wrapper{
	background-color: #fff;
}

body{
	background-color: #ccc;
}